<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <!-- Permissions required by the SDK -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Permissions required by the Demo App -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.ZEGOCLOUDBestPractice"
    tools:targetApi="31">
    <activity
      android:name=".activity.call.CallEntryActivity"
      android:exported="false" />
    <activity
      android:name=".activity.livestreaming.LiveStreamEntryActivity"
      android:exported="false" />
    <activity
      android:name=".activity.livestreaming.LiveStreamAudienceActivity"
      android:exported="false" />
    <activity
      android:name=".activity.LoginActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.MainActivity"
      android:exported="true" />
    <activity
      android:name=".activity.livestreaming.LiveStreamHostActivity"
      android:exported="false"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.liveaudioroom.LiveAudioRoomActivity"
      android:exported="true"
      android:screenOrientation="portrait" />

    <activity
      android:name=".activity.liveaudioroom.LiveAudioRoomEntryActivity"
      android:exported="true"
      android:screenOrientation="portrait" />

    <activity
      android:name=".activity.call.CallWaitActivity"
      android:exported="false"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.call.CallInvitationActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
    <activity
      android:name=".components.call.IncomingCallDialog"
      android:exported="false"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"
      android:theme="@style/dialogActivityTheme" />
  </application>

</manifest>